.pad_menu{
   /* background-image: url("Assets/images/background.jpg")*/
   background-color: rgb(5, 37, 22)
}
.Title{
    font-display: bold;
    font-size: 50px;
}
.button{
    margin-left: 185px
}
.Random{
    background-color: #80CACA
}
.WL {
    background-color: darkslategray;
    font-size: 18px;
   
}
.Score{
    background-color: #80CACA
}
.button2{
    text-align: center
}
#Random{
    font-size:32px;
    font-weight: bolder;
    color: black; 
    text-align: center   
}
#CS{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}
#Score{
    font-size:32px;
    font-weight: bolder;
    color: black; 
    text-align: center   
}
.Ins{
    font-size: 20px;
    color: black
}
.W{
    font-size:32px;
    font-weight: bolder;
    color: rgb(43, 233, 106); 
    text-align: center;
}
.L{
    font-size:32px;
    font-weight: bolder;
    color: rgb(148, 20, 20); 
    text-align: center;
}